@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здравейте</h1>
    <p>Системата за електронно гласуване ви предоставя възможност да участвате в парламентарните избори по електронен път</p>
</div>
